In [1]:
import numpy as np
import pandas as pd

In [2]:
movies = pd.read_csv('tmdb_5000_movies.csv')
credits = pd.read_csv('tmdb_5000_credits.csv')

In [3]:
movies.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124

In [4]:
credits.head()

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [5]:
movies = movies.merge(credits,on = 'title')

In [6]:
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [7]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4809 entries, 0 to 4808
Data columns (total 23 columns):
budget                  4809 non-null int64
genres                  4809 non-null object
homepage                1713 non-null object
id                      4809 non-null int64
keywords                4809 non-null object
original_language       4809 non-null object
original_title          4809 non-null object
overview                4806 non-null object
popularity              4809 non-null float64
production_companies    4809 non-null object
production_countries    4809 non-null object
release_date            4808 non-null object
revenue                 4809 non-null int64
runtime                 4807 non-null float64
spoken_languages        4809 non-null object
status                  4809 non-null object
tagline                 3965 non-null object
title                   4809 non-null object
vote_average            4809 non-null float64
vote_count              4809 non-null int64
movie_id                4809 non-null int64
cast                    4809 non-null object
crew                    4809 non-null object
dtypes: float64(3), int64(5), object(15)
memory usage: 619.9+ KB

In [8]:
## cols to be used for further analysis
#genres,id,keywords,title,overview,cast,crew
movies = movies[['movie_id','title','overview','genres','keywords','cast','crew']]

In [9]:
movies.isnull().sum()

movie_id    0
title       0
overview    3
genres      0
keywords    0
cast        0
crew        0
dtype: int64

In [10]:
movies.dropna(inplace = True)

In [11]:
movies.duplicated().sum()

0

In [12]:
movies.iloc[0].genres

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [13]:
import ast
def convert(obj):
    l = []
    for i in ast.literal_eval(obj):
        l.append(i['name'])
    return l

In [14]:
movies['genres'] = movies['genres'].apply(convert)

In [15]:
movies.head(1)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [16]:
movies['keywords'] = movies['keywords'].apply(convert)

In [17]:
movies.head(1)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [18]:
def convert_cast(obj):
    l = []
    counter = 0
    for i in ast.literal_eval(obj):
        if counter !=3:
            l.append(i['name'])
            counter+=1
        else:
            break
    return l

In [19]:
movies['cast'] = movies['cast'].apply(convert_cast)

In [20]:
def gt_director(obj):
    l = []
    for i in ast.literal_eval(obj):
        if i['job']=='Director':
            l.append(i['name'])
            break
    return l

In [21]:
movies['crew'] = movies['crew'].apply(gt_director)

In [22]:
movies

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron]
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley]",[Gore Verbinski]
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, Léa Seydoux]",[Sam Mendes]
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman]",[Christopher Nolan]
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton]",[Andrew Stanton]
5,559,Spider-Man 3,The seemingly invincible Spider-Man goes up ag...,"[Fantasy, Action, Adventure]","[dual identity, amnesia, sandstorm, love of on...","[Tobey Maguire, Kirsten Dunst, James Franco]",[Sam Raimi]
6,38757,Tangled,When the kingdom's most wanted-and most charmi...,"[Animation, Family]","[hostage, magic, horse, fairy tale, musical, p...","[Zachary Levi, Mandy Moore, Donna Murphy]",[Byron Howard]
7,99861,Avengers: Age of Ultron,When Tony Stark tries to jumpstart a dormant p...,"[Action, Adventure, Science Fiction]","[marvel comic, sequel, superhero, based on com...","[Robert Downey Jr., Chris Hemsworth, Mark Ruff...",[Joss Whedon]
8,767,Harry Potter and the Half-Blood Prince,"As Harry begins his sixth year at Hogwarts, he...","[Adventure, Fantasy, Family]","[witch, magic, broom, school of witchcraft, wi...","[Daniel Radcliffe, Rupert Grint, Emma Watson]",[David Yates]
9,209112,Batman v Superman: Dawn of Justice,Fearing the actions of a god-like Super Hero l...,"[Action, Adventure, Fantasy]","[dc comics, vigilante, superhero, based on com...","[Ben Affleck, Henry Cavill, Gal Gadot]",[Zack Snyder]
10,1452,Superman Returns,Superman returns to discover his 5-year absenc...,"[Adventure, Fantasy, Action, Science Fiction]","[saving the world, dc comics, invulnerability,...","[Brandon Routh, Kevin Spacey, Kate Bosworth]",[Bryan Singer]
11,10764,Quantum of Solace,Quantum of Solace continues the adventures of ...,"[Adventure, Action, Thriller, Crime]","[killing, undercover, secret agent, british se...","[Daniel Craig, Olga Kurylenko, Mathieu Amalric]",[Marc Forster]
12,58,Pirates of the Caribbean: Dead Man's Chest,Captain Jack Sparrow works his way out of a bl...,"[Adventure, Fantasy, Action]","[witch, fortune teller, bondage, exotic island...","[Johnny Depp, Orlando Bloom, Keira Knightley]",[Gore Verbinski]
13,57201,The Lone Ranger,The Texas Rangers chase down a gang of outlaws...,"[Action, Adventure, Western]","[texas, horse, survivor, texas ranger, partner...","[Johnny Depp, Armie Hammer, William Fichtner]",[Gore Verbinski]
14,49521,Man of Steel,A young boy learns that he has extraordinary p...,"[Action, Adventure, Fantasy, Science Fiction]","[saving the world, dc comics, superhero, based...","[Henry Cavill, Amy Adams, Michael Shannon]",[Zack Snyder]
15,2454,The Chronicles of Narnia: Prince Caspian,One year after their incredible adventures in ...,"[Adventure, Family, Fantasy]","[based on novel, fictional place, brother sist...","[Ben Barnes, William Moseley, Anna Popplewell]",[Andrew Adamson]
16,24428,The Avengers,When an unexpected enemy emerges and threatens...,"[Science Fiction, Action, Adventure]","[new york, shield, marvel comic, superhero, ba...","[Robert Downey Jr., Chris Evans, Mark Ruffalo]",[Joss Whedon]
17,1865,Pirates of the Caribbean: On Stranger Tides,Captain Jack Sparrow crosses paths with a woma...,"[Adventure, Action, Fantasy]","[sea, captain, mutiny, sword, prime minister, ...","[Johnny Depp, Penélope Cruz, Ian McShane]",[Rob Marshall]
18,41154,Men in Black 3,Agents J (Will Smith) and K (Tommy Lee Jones) ...,"[Action, Comedy, Science Fiction]","[time travel, time machine, alien, fictional g...","[Will Smith, Tommy Lee Jones, Josh Brolin]",[Barry Sonnenfeld]
19,122917,The Hobbit: The Battle of the Five Armies,Immediately after the events of The Desolation...,"[Action, Adventure, Fantasy]","[corruption, elves, dwarves, orcs, middle-eart...","[Martin Freeman, Ian McKellen, Richard Armitage]",[Peter Jackson]
20,1930,The Amazing Spider-Man,Peter Parker is an outcast high schooler aband...,"[Action, Adventure, Fantasy]","[loss of father, vigilante, serum, marvel comi...","[Andrew Garfield, Emma Stone, Rhys Ifans]",[Marc Webb]
21,20662,Robin Hood,When soldier Robin happens upon the dying Robe...,"[Action, Adventure]","[robin hood, archer, knight, sherwood forest, ...","[Russell Crowe, Cate Blanchett, Max von Sydow]",[Ridley Scott]
22,57158,The Hobbit: The Desolation of Smaug,"The Dwarves, Bilbo and Gandalf have successful...","[Adventure, Fantasy]","[elves, dwarves, orcs, hobbit, dragon, wizard,...","[Martin Freeman, Ian McKellen, Richard Armitage]",[Peter Jackson]
23,2268,The Golden Compass,"After overhearing a shocking secret, precociou...","[Adventure, Fantasy]","[england, compass, experiment, lordship, uncle...","[Dakota Blue Richards, Nicole Kidman, Daniel C...",[Chris Weitz]
24,254,King Kong,"In 1933 New York, an overly ambitious movie pr...","[Adventure, Drama, Action]","[film business, screenplay, show business, fil...","[Naomi Watts, Jack Black, Adrien Brody]",[Peter Jackson]
25,597,Titanic,"84 years later, a 101-year-old woman named Ros...","[Drama, Romance, Thriller]","[shipwreck, iceberg, ship, panic, titanic, oce...","[Kate Winslet, Leonardo DiCaprio, Frances Fisher]",[James Cameron]
26,271110,Captain America: Civil War,"Following the events of Age of Ultron, the col...","[Adventure, Action, Science Fiction]","[civil war, war, marvel comic, sequel, superhe...","[Chris Evans, Robert Downey Jr., Scarlett Joha...",[Anthony Russo]
27,44833,Battleship,"When mankind beams a radio signal into space, ...","[Thriller, Action, Adventure, Science Fiction]","[fight, u.s. navy, mind reading, hong kong, so...","[Taylor Kitsch, Alexander Skarsgård, Rihanna]",[Peter Berg]
28,135397,Jurassic World,Twenty-two years after the events of Jurassic ...,"[Action, Adventure, Science Fiction, Thriller]","[monster, dna, tyrannosaurus rex, velociraptor...","[Chris Pratt, Bryce Dallas Howard, Irrfan Khan]",[Colin Trevorrow]
29,37724,Skyfall,When Bond's latest assignment goes gravely wro...,"[Action, Adventure, Thriller]","[spy, secret agent, sociopath, killer, art gal...","[Daniel Craig, Judi Dench, Javier Bardem]",[Sam Mendes]
...,...,...,...,...,...,...,...
4779,2292,Clerks,Convenience and video store clerks Dante and R...,[Comedy],"[salesclerk, loser, aftercreditsstinger]","[Brian O'Halloran, Jeff Anderson, Jason Mewes]",[Kevin Smith]
4780,42497,Pink Narcissus,An erotic poem set in the fantasies of a young...,"[Drama, Romance]","[dream, prostitution]","[Bobby Kendall, Donald L. Brooks, Charles Ludlam]",[James Bidgood]
4781,33693,Funny Ha Ha,"Unsure of what to do next, 23-year-old Marnie ...","[Drama, Comedy]",[mumblecore],"[Kate Dollenmayer, Mark Herlehy, Christian Rud...",[Andrew Bujalski]
4782,14585,In the Company of Men,Two business executives--one an avowed misogyn...,"[Comedy, Drama]","[office, love, independent film, secretary, mi...","[Aaron Eckhart, Stacy Edwards, Matt Malloy]",[Neil LaBute]
4783,185465,Manito,"Fifteen years ago, their Washington Heights ne...",[Drama],[],"[Franky G, Leo Minaya, Manuel Cabral]",[Eric Eason]
4784,38780,Rampage,The boredom of small town life is eating Bill ...,"[Action, Drama, Crime, Thriller]","[rampage, massacre, killing spree]","[Brendan Fletcher, Shaun Sipos, Michael Paré]",[Uwe Boll]
4785,14022,Slacker,"Presents a day in the life in Austin, Texas am...",[Comedy],"[moon, philosophy, burglar, texas, dream, atom...","[Richard Linklater, Mark James]",[Richard Linklater]
4786,366967,Dutch Kills,A desperate ex-con is forced to gather his old...,"[Thriller, Crime, Drama]",[],"[R.L. Mann, Tama Filianga, Mikaal Bates]",[Joseph Mazzella]
4787,255266,Dry Spell,Sasha tries to get her soon-to-be ex husband K...,"[Comedy, Romance]","[dating, divorce, sex scene, sex comedy, anti ...","[Suzi Lorraine, Jared Degado, Heather Dorff]",[Travis Legge]
4788,17345,Flywheel,"Jay Austin wants to sell you a used car, but w...","[Drama, Family]","[christianity, father son relationship, georgi...",[Alex Kendrick],[Alex Kendrick]
4789,226458,Backmask,"During an all-night, drug-fueled party at an a...","[Thriller, Horror]",[possession],"[Stephen Lang, Kelly Blatz, Brittany Curran]",[Marcus Nispel]
4790,24055,The Puffy Chair,Josh's life is pretty much in the toilet. He's...,"[Drama, Comedy, Romance]",[mumblecore],"[Mark Duplass, Katie Aselton, Rhett Wilkins]",[Jay Duplass]
4791,287625,Stories of Our Lives,Created by the members of a Nairobi-based arts...,[Drama],[],"[Louis Brooke, Allan Bryan Weku, Judy Gichohi]",[Jim Chuchu]
4792,44990,Breaking Upwards,"'Breaking Upwards' explores a young, real-life...","[Comedy, Romance]",[independent film],"[Zoe Lister-Jones, Daryl Wein, Julie White]",[Daryl Wein]
4793,86304,All Superheroes Must Die,"Masked vigilantes Charge (Jason Trost), Cutthr...","[Science Fiction, Thriller]",[superhero],"[Jason Trost, Lucas Till, James Remar]",[Jason Trost]
4794,692,Pink Flamingos,Notorious Baltimore criminal and underground f...,"[Horror, Comedy, Crime]","[gay, trailer park, pop culture, drug dealer, ...","[Divine, David Lochary, Mary Vivian Pearce]",[John Waters]
4795,39851,Clean,"After losing her husband to a heroin overdose,...",[Drama],"[addiction, recovering drug addict, estranged ...","[Maggie Cheung, Nick Nolte, Béatrice Dalle]",[Olivier Assayas]
4796,13898,The Circle,Various women struggle to function in the oppr...,"[Drama, Foreign]",[],"[Nargess Mamizadeh, Maryiam Palvin Almani, Moj...",[Jafar Panahi]
4797,157185,Tin Can Man,Recently dumped by his girlfirend for another ...,[Horror],[home invasion],"[Michael Parle, Emma Eliza Regan, Patrick O'Do...",[Ivan Kavanagh]
4798,36095,Cure,A wave of gruesome murders is sweeping Tokyo. ...,"[Crime, Horror, Mystery, Thriller]","[japan, prostitute, hotel, based on novel, hal...","[Koji Yakusho, Masato Hagiwara, Tsuyoshi Ujiki]",[Kiyoshi Kurosawa]
4799,182291,On The Downlow,Isaac and Angel are two young Latinos involved...,[Drama],"[confession, hazing, gang member, latino, lgbt...","[Tony Sancho, Michael Cortez, Donato Cruz]",[Tadeo Garcia]
4800,286939,Sanctuary: Quite a Conundrum,"It should have been just a normal day of sex, ...","[Thriller, Horror, Comedy]",[],"[Sasha Ramos, Erin Cline, Emily Rogers]",[Thomas L. Phillips]
4801,124606,Bang,A young woman in L.A. is having a bad day: she...,[Drama],"[gang, audition, police fake, homeless, actress]","[Darling Narita, Peter Greene, Michael Newland]",[Ash Baron-Cohen]
4802,14337,Primer,Friends/fledgling entrepreneurs invent a devic...,"[Science Fiction, Drama, Thriller]","[distrust, garage, identity crisis, time trave...","[Shane Carruth, David Sullivan, Casey Gooden]",[Shane Carruth]
4803,67238,Cavite,"Adam, a security guard, travels from Californi...","[Foreign, Thriller]",[],[],[Neill Dela Llana]
4804,9367,El Mariachi,El Mariachi just wants to play his guitar and ...,"[Action, Crime, Thriller]","[united states–mexico barrier, legs, arms, pap...","[Carlos Gallardo, Jaime de Hoyos, Peter Marqua...",[Robert Rodriguez]
4805,72766,Newlyweds,A newlywed couple's honeymoon is upended by th...,"[Comedy, Romance]",[],"[Edward Burns, Kerry Bishé, Marsha Dietlein]",[Edward Burns]
4806,231617,"Signed, Sealed, Delivered","""Signed, Sealed, Delivered"" introduces a dedic...","[Comedy, Drama, Romance, TV Movie]","[date, love at first sight, narration, investi...","[Eric Mabius, Kristin Booth, Crystal Lowe]",[Scott Smith]
4807,126186,Shanghai Calling,When ambitious New York attorney Sam is sent t...,[],[],"[Daniel Henney, Eliza Coupe, Bill Paxton]",[Daniel Hsia]
4808,25975,My Date with Drew,Ever since the second grade when he first saw ...,[Documentary],"[obsession, camcorder, crush, dream girl]","[Drew Barrymore, Brian Herzlinger, Corey Feldman]",[Brian Herzlinger]

In [23]:
movies['overview'] = movies['overview'].apply(lambda x:x.split())

In [24]:
movies.head(1)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron]

In [25]:
movies['genres'] = movies['genres'].apply(lambda x:[i.replace(" ","") for i in x])
movies['keywords'] = movies['keywords'].apply(lambda x:[i.replace(" ","") for i in x])
movies['cast'] = movies['cast'].apply(lambda x:[i.replace(" ","") for i in x])
movies['crew'] = movies['crew'].apply(lambda x:[i.replace(" ","") for i in x])

In [26]:
movies.head(1)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron]

In [27]:
movies['tags']=movies['overview']+movies['genres']+movies['keywords']+movies['cast']+movies['crew']

In [28]:
movies.head(1)

,movie_id,title,overview,genres,keywords,cast,crew,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron],"[In, the, 22nd, century,, a, paraplegic, Marin..."

In [29]:
new_df = movies[['movie_id','title','tags']]

In [30]:
new_df.head(1)

   movie_id   title                                               tags
0     19995  Avatar  [In, the, 22nd, century,, a, paraplegic, Marin...

In [31]:
new_df['tags']

0       [In, the, 22nd, century,, a, paraplegic, Marin...
1       [Captain, Barbossa,, long, believed, to, be, d...
2       [A, cryptic, message, from, Bond’s, past, send...
3       [Following, the, death, of, District, Attorney...
4       [John, Carter, is, a, war-weary,, former, mili...
5       [The, seemingly, invincible, Spider-Man, goes,...
6       [When, the, kingdom's, most, wanted-and, most,...
7       [When, Tony, Stark, tries, to, jumpstart, a, d...
8       [As, Harry, begins, his, sixth, year, at, Hogw...
9       [Fearing, the, actions, of, a, god-like, Super...
10      [Superman, returns, to, discover, his, 5-year,...
11      [Quantum, of, Solace, continues, the, adventur...
12      [Captain, Jack, Sparrow, works, his, way, out,...
13      [The, Texas, Rangers, chase, down, a, gang, of...
14      [A, young, boy, learns, that, he, has, extraor...
15      [One, year, after, their, incredible, adventur...
16      [When, an, unexpected, enemy, emerges, and, th...
17      [Captain, Jack, Sparrow, crosses, paths, with,...
18      [Agents, J, (Will, Smith), and, K, (Tommy, Lee...
19      [Immediately, after, the, events, of, The, Des...
20      [Peter, Parker, is, an, outcast, high, schoole...
21      [When, soldier, Robin, happens, upon, the, dyi...
22      [The, Dwarves,, Bilbo, and, Gandalf, have, suc...
23      [After, overhearing, a, shocking, secret,, pre...
24      [In, 1933, New, York,, an, overly, ambitious, ...
25      [84, years, later,, a, 101-year-old, woman, na...
26      [Following, the, events, of, Age, of, Ultron,,...
27      [When, mankind, beams, a, radio, signal, into,...
28      [Twenty-two, years, after, the, events, of, Ju...
29      [When, Bond's, latest, assignment, goes, grave...
                              ...
4779    [Convenience, and, video, store, clerks, Dante...
4780    [An, erotic, poem, set, in, the, fantasies, of...
4781    [Unsure, of, what, to, do, next,, 23-year-old,...
4782    [Two, business, executives--one, an, avowed, m...
4783    [Fifteen, years, ago,, their, Washington, Heig...
4784    [The, boredom, of, small, town, life, is, eati...
4785    [Presents, a, day, in, the, life, in, Austin,,...
4786    [A, desperate, ex-con, is, forced, to, gather,...
4787    [Sasha, tries, to, get, her, soon-to-be, ex, h...
4788    [Jay, Austin, wants, to, sell, you, a, used, c...
4789    [During, an, all-night,, drug-fueled, party, a...
4790    [Josh's, life, is, pretty, much, in, the, toil...
4791    [Created, by, the, members, of, a, Nairobi-bas...
4792    ['Breaking, Upwards', explores, a, young,, rea...
4793    [Masked, vigilantes, Charge, (Jason, Trost),, ...
4794    [Notorious, Baltimore, criminal, and, undergro...
4795    [After, losing, her, husband, to, a, heroin, o...
4796    [Various, women, struggle, to, function, in, t...
4797    [Recently, dumped, by, his, girlfirend, for, a...
4798    [A, wave, of, gruesome, murders, is, sweeping,...
4799    [Isaac, and, Angel, are, two, young, Latinos, ...
4800    [It, should, have, been, just, a, normal, day,...
4801    [A, young, woman, in, L.A., is, having, a, bad...
4802    [Friends/fledgling, entrepreneurs, invent, a, ...
4803    [Adam,, a, security, guard,, travels, from, Ca...
4804    [El, Mariachi, just, wants, to, play, his, gui...
4805    [A, newlywed, couple's, honeymoon, is, upended...
4806    ["Signed,, Sealed,, Delivered", introduces, a,...
4807    [When, ambitious, New, York, attorney, Sam, is...
4808    [Ever, since, the, second, grade, when, he, fi...
Name: tags, Length: 4806, dtype: object

In [32]:
new_df['tags'] = new_df['tags'].apply(lambda x:" ".join(x))

c:\python37-32\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [33]:
new_df.head()

,movie_id,title,tags
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...
4,49529,John Carter,"John Carter is a war-weary, former military ca..."

In [34]:
new_df['tags'] = new_df['tags'].apply(lambda x:x.lower())

c:\python37-32\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [37]:
import nltk
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [39]:
def stemmer(text):
    y = []
    for i in text.split():
        y.append(ps.stem(i))
    return " ".join(y)

In [41]:
 new_df['tags'] = new_df['tags'].apply(stemmer)

c:\python37-32\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [42]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features = 5000,stop_words = 'english')
vectors = cv.fit_transform(new_df['tags']).toarray()

In [46]:
len(vectors)

4806

In [49]:
from sklearn.metrics.pairwise import cosine_similarity

In [51]:
cosine_similarity(vectors)

MemoryError: